{% extends "base.html" %}

{% block content %}
    <div class="card col-lg-4 mx-right">
        <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3">Change Username</h3>
            <form method="post">
                <div class="form-group">
                    <label>Current Username</label>
                    <input type="text" class="form-control p_input" pattern="^[A-Za-z0-9]{3,}$"
                           title="Can only exist letter or number and at least 3 characters" disabled
                           value="{{ user.user_name }}">
                </div>
                <div class="form-group">
                    <label>New Username</label>
                    <input type="email" class="form-control p_input" name="userName" pattern="^[A-Za-z0-9]{3,}$"
                           title="Can only exist letter or number and at least 3 characters">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                </div>
            </form>
        </div>

        <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3">Change Password</h3>
            <form method="post">
                <div class="form-group">
                    <label>Enter Password</label>
                    <input type="password" class="form-control p_input" name="password1" pattern=".{6,}"
                           title="Password must be at least 6 characters">
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control p_input" name="password2" pattern=".{6,}"
                           title="Password must be at least 6 characters">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block enter-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}